@using Record_Shop_Frontend.Models;
@using Microsoft.AspNetCore.Http;
@rendermode InteractiveServer

<EditForm FormName="AlbumDetailsForm" Model="@Album" OnSubmit=@HandleSubmit>
    <InputText @bind-Value="@AlbumDTOToPut.Title" />
    <InputText @bind-Value="@AlbumDTOToPut.Label" />
    <InputDate @bind-Value="@AlbumDTOToPut.ReleaseDate" />
    @* Todo: add genres multiple checkboxes *@
    <InputNumber @bind-Value="@AlbumDTOToPut.ArtistId" />
    <input class="btn" type="submit" value="Save Changes"/>
</EditForm>
<div>
    <p>@Album.Id</p>
    <p>@Album.Title</p>
    <p>@Album.Label</p>
    <ul>
        @foreach (var g in Album.Genres)
        {
            <li>@g.ToString()</li>
        }
    </ul>
    <p>@Album.ReleaseDate.ToString()</p>
    <p>@Album.Artist.Name</p>
</div>


@code {
    [Parameter] public Album Album { get; set; }
    private AlbumDTO AlbumDTOToPut { get; set; } = new();

    public async Task HandleSubmit()
    {
        using (var http = new HttpClient())
        {
            AlbumDTOToPut.Genres = Album.Genres;
            var httpResponse = await http.PutAsJsonAsync($"http://localhost:5147/albums/{Album.Id}", AlbumDTOToPut);
        }
    }
}
